/*ex 1*/
.ex1 {
 width: 150px; 
 height: 150px; 
 padding: 0.5em; 
 background-color: red;
 border-radius: 10px;
}
/*ex 2*/
#dragg{
  
  width: 150px; 
 height: 150px; 
 padding: 0.5em; 
 background-color: green;
 border-radius: 10px;
}
#dragg1{
 width: 150px; 
 height: 150px; 
 padding: 0.5em; 
 background-color:blue;
 border-radius: 10px;
}
#dropp{
  width: 200px; 
 height: 200px; 
 padding: 0.5em; 
 background-color: yellow;
 border-radius: 10px;
 margin: 10px 10px 10px 0;
}
#ex2{
  font-size: 20px;
}
/*ex 3*/
#resizable { 
  width: 150px;
 height: 150px;
  padding: 0.5em;
  background-color: plum;
  border-radius: 20px;
   }
  #ex3 { 
    text-align: center; 
    margin: 0;
    background-color: gold;
    border: 1px dotted gray;
  }


/*ex 4*/

 #feedback { 
  font-size: 18px; 
 }
  #select .ui-selecting { 
    background: #FECA40; 
  }
  #select .ui-selected { 
    background: #F39814; 
    /*color: white;*/ 
  }
  #select { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 60%; }
  #select li { 
    text-align: center;
    margin: 5px; 
    padding: 20px; 
    font-size: 18px; 
    height: 15px; 
     width: 310px;

  }

/* ex 5 */

#sort { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 60%; 
  }
  #sort li { 
    text-align: center;
    margin: 5px; 
    padding: 20px; 
    font-size: 18px; 
    height: 15px; 
     width: 310px;
   }
  #sort li span { 
    position: absolute; 
    margin-left: -1.3em; }
    .ui-icon, .ui-widget-content .ui-icon {
    margin-top: 6px !important;
}
/*ex 10*/
.ui-menu { width: 150px; }

/*ex 11*/
.fld {
      border: 0;
      margin-left: 300px;
    }
    .lbl {
      display: block;
      margin: 20px 0 0 0;
    }
 
    #circle {
      float: left;
      background: yellow;
      border-radius: 50%;
      width: 150px;
      height: 150px;
    }
/* Ex 12 */
#red, #green, #blue {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
  }
  #swatch {
    width: 120px;
    height: 100px;
    margin-top: 18px;
    margin-left: 350px;
    background-image: none;
  }
  #red .ui-slider-range { background: #ef2929; }
  #red .ui-slider-handle { border-color: #ef2929; }
  #green .ui-slider-range { background: #8ae234; }
  #green .ui-slider-handle { border-color: #8ae234; }
  #blue .ui-slider-range { background: #729fcf; }
  #blue .ui-slider-handle { border-color: #729fcf; }
/* EX 13 */

 .toggler { 
  width: 500px; 
  height: 200px; 
  position: 
  relative; 
}
#button {
     padding: .5em 1em; 
     text-decoration: none; 
   }
#effect { 
  width: 240px; 
  height: 170px; 
  padding: 0.4em; 
  position: relative; 
  background: #fff; 
}
#effect h3 { 
  margin: 0; 
  padding: 0.4em; 
  text-align: center; 
}
/*EX 14*/

 .toggler {
  width: 500px; 
  height: 200px; 
  position: relative;
   }
#button { 
  padding: .5em 1em; 
  text-decoration: none;
   }
#effect { 
  width: 240px; 
   padding: 1em; 
   border: 1px solid #000;
    background: #eee; 
    color: #333; 
  }
.newClass {
 text-indent: 40px;
 letter-spacing: .4em;
 width: 410px;
 height: 120px;
 padding: 30px;
 margin: 10px;
 font-size: 1.1em;
 }
/*15*/
.ui-progressbar {
    position: relative;
}
  .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }